<div class="p-3 text-justify flex flex-col gap-4 text-black dark:text-gray-200">
    <h1 class="font-extrabold text-center text-2xl">SentiSight - Info</h1>
    <p>SentiSight is a sentiment analysis website that helps you understand the sentiment expressed in text data. It can
        analyze text and determine whether the overall sentiment is positive, negative, or neutral.</p>
    <p><strong>How does it work?</strong> Simply enter your text in the provided input field, and SentiSight will use advanced natural
        language processing techniques to analyze the sentiment behind the words. It will then provide you with a
        sentiment score, indicating the degree of positivity or negativity, as well as a breakdown of the positive,
        neutral, and negative percentages.</p>
    <p>With SentiSight, you can quickly and easily gain valuable insights into the sentiment expressed in text data,
        such as customer reviews, social media posts, or any other text-based content. This can be useful for
        businesses, researchers, or anyone interested in understanding public opinion or sentiment trends.</p>
    <p>Give SentiSight a try and see how it can help you analyze sentiment with ease!</p>
</div>